<div class="mdui-row simple-height" style="min-height:540px;">
    <div class="mdui-row" style="min-height:540px;">
        <div class="mdui-col-md-12 mdui-col-xs-12 mdui-valign" style="min-height:540px;">
            <div class="mdui-typo-display-4 mdui-center"><%= page.title %></div>
        </div>
    </div>
</div>