<%# comments https://valine.js.org %>

<%- js('modules/valine/av-min.js') %>
<%- js('modules/valine/Valine.min.js') %>
<div id="vcomments"></div>
<script>
    new Valine({
        el: '#vcomments',
        appId: 'MVdi2Xnz6HbmG6W1A7I8CAC8-gzGzoHsz',
        appKey: 'Rl17wHDK3kufdMOx19dojo1h',
        placeholder: '想对作者说点什么?'
    });
</script>