<footer class="footer mdui-color-theme mdui-text-center" style="height: 44px;">
    <div class="mdui-valign" style="height: 44px;">
        <p class="mdui-typo-caption mdui-center">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank">署名-非商业性使用-相同方式共享 4.0 国际 (CC BY-NC-SA 4.0)</a>
            <br>
            <%- config.author %> &copy;
            <% if (theme.since_year && theme.since_year < date(new Date(), 'YYYY')) {%>
                <%- theme.since_year %> -
            <% } %>
            <%- date(new Date(), 'YYYY') %>
            .Power by 
            <a href="http://hexo.io/" target="_blank">
                <em>Hexo</em>
            </a>
            Theme
            <a href="https://github.com/jiangdequan/hexo-theme-mdui" target="_blank">
                <em>mdui</em>
            </a>
        </p>
    </div>
</footer>