<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="<%= config.author %>">
    <meta name="theme-color" content="#00bcd4">

    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="icon" sizes="192x192" href="/images/icon/icon-192x192.png">
    <link rel="shortcut icon" href="/images/icon/icon-72x72.png">
    <link rel="apple-touch-icon" href="/images/icon/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/icon-180x180.png">

    <title><%= config.title %> | <%= config.subtitle %></title>

    <%# Font Awesome %>
    <link href="https://cdn.bootcss.com/font-awesome/5.4.1/css/all.css" rel="stylesheet">

    <%# MDUI %>
    <link href="https://cdn.bootcss.com/mdui/0.4.1/css/mdui.min.css" rel="stylesheet">

    <%# Common %>
    <%- css('css/common.css') %>

    <%# Jquery %>
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
</head>
