<div class="mdui-row">
    <div class="mdui-col-xs-12 mdui-center mdui-text-center simple-pagination">
        <p>
        <%- paginator({
            prev_text: '☜',
            next_text: '☞'
        }) %>
        </p>
    </div>
</div>