<%  var posts = [];
    site.posts.each(function(post){
        posts.push(post);
    });
    var sortPosts = _[_.orderBy ? 'orderBy' : 'sortByOrder'](posts, ['date'], ['desc']);
%>


<div class="mdui-card mdui-hoverable simple-recent-posts">
    <div class="mdui-card-header">
        <h3><i class="mdui-list-item-icon mdui-icon ion-ios-book"></i> 最新发布</h3>
    </div>
    <div class="mdui-card-content mdui-typo">
        <% sortPosts.forEach(function(item, i) {
            if (i > theme.recent.posts - 1) {
                return;
            }
        %>
            <a href="<%- url_for(item.path) %>" class="mdui-text-color-theme">
                <%- item.title %>
            </a>
            <% if ((sortPosts.length > theme.recent.posts && i < theme.recent.posts - 1) || (sortPosts.length <= theme.recent.posts && i != sortPosts.length - 1)) { %>
                <div class="mdui-divider mdui-m-y-1"></div>
            <% } %>
        <% });%>
    </div>
</div>
<br>