<div class="mdui-card mdui-hoverable">
    <div class="mdui-card-header">
        <h3><i class="fab fa-weixin"></i> 公众号</h3>
    </div>
    <div class="mdui-card-content mdui-typo mdui-text-center">
        <img src="/images/qrcode_for_gh.jpg"/>
    </div>
</div>
<br>